.header
  = render partial: "render/header"

.content
  .account
    新規アカウント登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .account__enter
      = f.label :name
      %br/
      = f.text_field :name, autofocus: true
    .account__enter
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .account__enter
      = f.label :password
      - if @minimum_password_length
        %em
          (半角英数#{@minimum_password_length}文字以内)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .account__enter
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .account__btn
      = f.submit "Sign up"
    .account__links
      = render "devise/shared/links"
