.header
  = render partial: "render/header"

.content
  .tweet
    - @tweets.each do |tweet|
      .tweet__box
        = link_to tweet_path(tweet), method: :get, class: "" do
          .tweet__box--details
            = tweet.user.name
            さんの投稿
          = image_tag tweet.image.to_s, class: "tweet__box--details"
          .tweet__box--details
            車名
            = tweet.carname
          .tweet__box--details
            = tweet.year
            年
          .tweet__box--details.supercool
            超カッコいい
            = tweet.likes.where(rate: "Supercool").count
          .tweet__box--details.cool
            カッコいい
            = tweet.likes.where(rate: "Cool").count
          .tweet__box--details.uncool
            ブサイク
            = tweet.likes.where(rate: "Uncool").count
