.header
  = render partial: "render/header"

.contents
  - @tweets.each do |tweet|
    = link_to tweet_path(tweet), method: :get, class: "contents__tweets" do
      = image_tag tweet.image.to_s, class: "contents__tweets"
      .contents__tweets--details
        車名
        = tweet.carname
      .contents__tweets--details
        製造年
        = tweet.year
      .contents__tweets--details
        = tweet.user.name
        さんの投稿
      .contents__tweets--details
        超カッコいい
        = tweet.likes.where(rate: "Supercool").count
      .contents__tweets--details
        カッコいい
        = tweet.likes.where(rate: "Cool").count
      .contents__tweets--details
        ブサイク
        = tweet.likes.where(rate: "Uncool").count
