.header
  = render partial: "render/header"

.contents
  - @tweets.each do |tweet|
    = link_to tweet_path(tweet), method: :get, class: "tweet" do
      = image_tag tweet.image.to_s, class: "tweet__details"
      .tweet__details
        車名
        = tweet.carname
      .tweet__details
        製造年
        = tweet.year
      .tweet__details
        = tweet.user.name
        さんの投稿
      .tweet__details
        超カッコいい
        = tweet.likes.where(rate: "Supercool").count
      .tweet__details
        カッコいい
        = tweet.likes.where(rate: "Cool").count
      .tweet__details
        ブサイク
        = tweet.likes.where(rate: "Uncool").count
