.header
  = render partial: "render/header"

.search
  ツイート検索
= form_with url: search_tweets_path, method: :get, local: true do |f|
  = f.text_field :carname, placeholder: "車名で検索"
  = f.text_field :year, placeholder: "製造年で検索 ※半角数字"
  = f.text_field :description, placeholder: "説明文で検索"
  = f.submit :search

%table
  %thead
    %tr
      %th 車名
  %tbody
    - @carnames.each do |tweet|
      %tr
        %td= link_to '詳細ページ', tweet
        %td= image_tag tweet.image.to_s
        %td= tweet.carname
  %thead
    %tr
      %th 製造年
  %tbody
    - @years.each do |tweet|
      %tr
        %td= link_to '詳細ページ', tweet
        %td= image_tag tweet.image.to_s
        %td= tweet.year
  %thead
    %tr
      %th 説明文
  %tbody
    - @descriptions.each do |tweet|
      %tr
        %td= link_to '詳細ページ', tweet
        %td= image_tag tweet.image.to_s
        %td= tweet.description