.contents
  = image_tag @tweet.image.to_s, class: "contents__tweets"
  .contents__tweets--details
    name
    = @tweet.carname
  .contents__tweets--details
    production year
    = @tweet.year
  .contents__tweets--details
    description
    = @tweet.description
  .contents__tweets--details
    user name
    = @tweet.user.name
  .contents__tweets--menulist
    - if current_user.id == @tweet.user_id
      .content__tweets--menulist__menu
        = link_to edit_tweet_path, method: :get, class: "content__tweets--menulist__menu" do
          編集
      .content__tweets--menulist__menu
        = link_to tweet_path, method: :delete, class: "content__tweets--menulist__menu" do
          削除
      .content__tweets--menulist__menu
        = link_to root_path, method: :get, class: "header.logo" do
          トップへ戻る
    - elsif user_signed_in?
      .content__tweets--menulist__menu
        supercool
      .content__tweets--menulist__menu
        cool      
      .content__tweets--menulist__menu
        uncool
      .content__tweets--menulist__menu
        = link_to root_path, method: :get, class: "header.logo" do
          トップへ戻る