.header
  = render partial: "render/header"

.content
  .tweet
    .tweet__box
      .tweet__box--details
        = @tweet.user.name
        さんの投稿
      = image_tag @tweet.image.to_s, class: "tweet__box--details"
      .tweet__box--details
        車名
        = @tweet.carname
      .tweet__box--details
        = @tweet.year
        年
      .tweet__box--details
        ひとこと:
        .tweet__box--details.script
        = @tweet.description
      .tweet__box--details
        .tweet__box--details__counts
          .tweet__box--details__counts.supercool
            超カッコいい
            = @tweet.likes.where(rate: "Supercool").count
          .tweet__box--details__counts.cool
            カッコいい
            = @tweet.likes.where(rate: "Cool").count
          .tweet__box--details__counts.uncool
            ブサイク
            = @tweet.likes.where(rate: "Uncool").count
      .tweet__box--owner
        - if current_user.id == @tweet.user_id
          .tweet__box--owner__menu
            = link_to edit_tweet_path, method: :get, class: "tweet__box--owner__menu--button" do
              編集
          .tweet__box--owner__menu
            = link_to tweet_path, method: :delete, class: "tweet__box--owner__menu--button" do
              削除
      .tweet__box--evaluation
        - if current_user.already_liked?(@tweet)
          = button_to "取り消す", tweet_like_path(@tweet), method: :delete
        - else
          = button_to "超カッコいい", tweet_likes_path(@tweet), {method: :post, params: {rate: 'Supercool'}}
          = button_to "カッコいい", tweet_likes_path(@tweet), {method: :post, params: {rate: 'Cool'}}
          = button_to "ブサイク", tweet_likes_path(@tweet), {method: :post, params: {rate: 'Uncool'}}